.profileScreen{
    height: 100vh;
    color: white;
    background-color: black;

}

.profile_screen_body{
    display: flex;
    /* position: fixed; */
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    /* margin-top: 8%; */
    margin-right: auto;
    max-width: 1000px;
    padding-top: 10%;
}
.profile_screen_body h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;

}
.profile_info{
    display: flex;
}
.profile_info img{
    height: 100px;
}
.profile_details{
    color: white;
    margin-left: 25px;
    flex: 1;
}
.profile_details h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}
.profile_singout{
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 2%;
}
.profile_plan h3{
    border-bottom: 1px solid #282c2d;
    margin-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 2.25rem;
}
.profile_plan h4{
    margin-top: 20px;
    padding-bottom: 20px;
    font-weight: 450;
    font-size: 1.5rem;
}
.netflix_stdn{
    display: flex;
    flex-direction: column;

}
.netflix_subscribes{
    display: flex;
    border-radius: none;
    justify-content: space-between;
    border:lightblue
}
.subcribe{
    font-size: 1.2rem;
    width: 26%;
    color: white;
    /* border-radius: 5px; */
    background-color: #e50914;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 4%;
    margin-bottom: 3%;
    padding-bottom: 6px;
    /* margin: auto; */
    height: 4vh;
    transition: transform 450ms;
}
.subcribe:hover{
    transform: scale(1.03);
}
.subcribecurent{
    font-size: 1.2rem;
    width: 30%;
    color: white;
    background-color: gray;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 4%;
    margin-bottom: 3%;
    padding-bottom: 6px;
    height: 4vh;
    transition: transform 450ms;
}
.subcribecurent:hover{
    transform: scale(1.07);
}
span{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 300;
}

.netflix_subscribes h3 {
    font-weight: 400;
    font-size: 1.9rem;
}
.netflix_subscribes prem {
  font-weight: 600;
}
.netflix_subscribes:hover{
    background-color: #282c2d;
}